<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
	<button onclick=window.Android.uploadImage() value="上传图片"></button>
  </body>
</html>
