<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    {{#block "css"}}
    	<link rel="stylesheet" href="/stylesheets/style.css" />
    {{/block}}

	{{#block "preJs"}}
	{{/block}}
  </head>
  <body>
    {{#block "main"}}
    {{/block}}

    {{#block "afterJs"}}
    {{/block}}
  </body>
</html>
