<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8">
  	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/icon.min.css">
	<link rel="stylesheet" href="/stylesheets/web/view.css">
	<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=C2VG4TpScD6hDeaxHYUhMBaMSn2vcGsL"></script>
  </head>
  <body>
    <div class="logo">
		<h1>GTQ型单兵巡护通讯系统</h1>
	</div>
	<div class="main">
		<div class="leftBox">
			<p class="title">设备列表</p>
			<ul class="content" id="js-content">
				<li class="active"><i class="mobile big icon"></i><span data-usercode="user1">一号</span></li>
				<li><i class="mobile big icon"></i><span data-usercode="user2">二号</span></li>
				<li><i class="mobile big icon"></i><span data-usercode="user3">三号</span></li>
				<li><i class="mobile big icon"></i><span data-usercode="user4">四号</span></li>
			</ul>
		</div>
		<div class="rightBox" id="allmap"></div>
		<div class="spinner" id="loading">
		    <div class="rect1"></div>
		    <div class="rect2"></div>
		    <div class="rect3"></div>
		    <div class="rect4"></div>
		    <div class="rect5"></div>
		</div>
	</div>

	<script src="/javascripts/web/view.js"></script>
  </body>
</html>
